html {
    background-image: url("../media/background.jpg");
    background-size: cover;
    height: 100%;
    overflow: hidden;
}

.songDiv {
    display: block;
}

.video-container{
    margin-top: 160px;
}

.startButton {
    color: #ffffff;
    font-family: "Arbutus", cursive;
    font-size: 2em;
}

header{
    background-color: ;
}

h1 {
    color: #b0390a;
    font-family: 'Arbutus', cursive;
}

.card {
    z-index: 99;
    margin-top: 35px;
    display: none;
    background-color: #505050;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    font-size: 2em;
}

.gif {
    height: 250px;
}